<div class="container">

<!-- <h3>A bit about me</h3> -->
<div class="about-header">
  <p class="about-quote">I'm an idealist, analyst, doer, and life hacker.</p>
  <a href="/posts/1" class="about-quote-link">Read more</a>
</div>



<p>________</p>

<div class="container about-expertise">
  <div class="row">
    <div class="col-md-4 expertise-section" >
      <h3>Expertise</h3>
      <div id="resume-link">
        <button type="button" class= "btn btn-link modal-button" id="modal-button-link" data-toggle="modal" data-target=".bd-example-modal-lg">Download Resume</button>
      </div>
    </div>
    <div class="col-md-4 expertise-section">
      <ul>
        <li>Systems Analysis</li>
        <li>System Configuration</li>
        <li>Knowledge Management</li>
        <li>Accounting Principles</li>
        <li>Project Management</li>
        <li>Web (Javascript, Ruby on Rails)</li>
      </ul>
    </div>
    <div class="col-md-4 expertise-section">
    <ul>
      <li>Requirements Gathering</li>
      <li>User Training</li>
      <li>Customer & User Support</li>
      <li>Digital Marketing</li>
    </ul>
    </div>
  </div>
</div>

<div class="row resume-row">
  <div class="col-lg-3 resume-header">
    <h3>Education</h3>
  </div>
  <div class="col-lg-9">
    <div class="accordion" id="accordionEducation">
      <div class="card">
        <div class="card-header card-header-1" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <p class="resume-role">2018 - 2019 | <strong>Certificate in Web Development</strong> | <span class="resume-location">CareerFoundry School</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Completed five major projects using front-end and back-end web development with HTML, CSS, Javascript, Ruby on Rails</p>
            <p class="resume-summary"></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-1" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link accordian-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              <p class="resume-role">2014 - 2015 | <strong>Master of Health Informatics</strong> | <span class="resume-location">University of Toronto</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>

        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Information Systems, Services & Design, Analyzing Information Systems, Human Factors and Change Management, Complexity of Clinical Care, Evaluation Methods for Health Informatics, Project Management</p>
            <ul>
              <li><strong>Functional requirements formulation - </strong>Developed and delivered a list of functional requirements, based on market best practices, for an information system that will effectively measure and report on the Toronto Central Community Care Access Centre client experience in real-time</li>
              <li><strong>Proposal development and presentations - </strong>Delivered multiple presentations to Health Informatics professionals to communicate innovative ideas for health system improvements, including the Director of Strategy at the Toronto Central Community Care Access Centre and Director of the Centre for Global Health Innovation</li>
              <li><strong>Business process analysis - </strong>Formulated recommendations for work process improvements in the University Health Network Transplant Clinic based on direct observations of, and discussions with, transplant nurses on the ward</li>
              <li><strong>User Centered Design - </strong> Applied knowledge of the importance of designing around the user and the processes and tools used for prototyping, heuristics analysis and usability testing to various mobile app design projects</li>
              <li><strong>Statistical Analysis - </strong>Developed a working knowledge of statistical analysis and sampling techniques and how results can be applied to address real problems</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-1" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p class="resume-role">2008 - 2012 | <strong>Bachelor of Commerce</strong> | <span class="resume-location">University of Ottawa</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Business Decision Models, Information Systems Tools for Business, Financial Accounting, Managerial Accounting, Cost Accounting, Reasoning and Critical Thinking, Auditing Theory, Business Law, Management Control Systems</p>
            <p class="resume-summary"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row resume-row">
  <div class="col-lg-3 resume-header">
    <h3>Work Experience</h3>
  </div>
  <div class="col-lg-9">
    <div class="accordion" id="accordionExperience">
      <div class="card">
        <div class="card-header card-header-2" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p class="resume-role">Oct 2016 - Present | <strong>Business Systems Analyst</strong> | <span class="resume-location">CHEO</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Quick problem solving, systems thinking, project management and user training</p>
            <ul>
              <li><strong>User Security Lead – </strong>The point person for any security-related issues that require coordination between multiple applications, setting the agenda and leading the bi-weekly security working group, synthesizing the discussion into actionable next steps, and improving the processes for Epic security provision to Epic users</li>
              <li><strong>Audiocare Automated Confirming System Owner – </strong>Managing the Audiocare system operationally, responding to system issues and adjusting build as needed, completing process analysis and system build for new additions to the system and coordinating changes with the Audiocare vendor</li>
              <li><strong>CHEO Patient Armband Build Owner - </strong>Planning and executing system build, setup and maintenance of the new CHEO patient armbands for barcoded medication administration</li>
              <li><strong>User requirements gathering - </strong>Meeting and interviewing users to gain an understanding of areas of improvement within their workflows and determining whether those improvements can be accomplished through technology or through workflow redesign </li>
              <li><strong>System Build and Configuration based on User needs - </strong>Using ideation principles to translate requirements into How-might-we statements, brainstorming different options for meeting those requirements, analyzing the options and determining which is most viable, completing the build for the chosen solution, testing it with users and implementing it once approved </li>
              <li><strong>Project planning - </strong>Creating project charters, considering objectives, scope, stakeholders, risks, benefits, and leading the implementation team through a serious of tasks to meet the project objectives</li>
              <li><strong>Operational, go-live and on-call user support - </strong>Responding to Admitting, Transfer, Discharge and Scheduling Epic user support calls, which involves gaining an understanding of the issue from the user, quickly determining a way to address the issue, executing the solution and following up with the user to ensure that the issue has been resolved</li>
              <li><strong>User training - </strong>Developing and walking through instructional slide decks, answering user questions, and providing at-the-elbow support</li>
              <li><strong>Database management - </strong>Deciding how items should be added and when, by whom, and a planned schedule for auditing and maintenance</li>
              <li><strong>Build documentation - </strong>Keeping a detailed and comprehensive record of completed for future reference </li>
              <li><strong>Downtime system build and support  - </strong>Configuring the admitting, discharge and transfer downtime system and reports that are to be sent to the downtime computers</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-2" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <p class="resume-role">Sept 2018 - Present | <strong>Graphic Designer</strong> | <span class="resume-location">Calvary Baptist Church</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Effective communication through digital media and print</p>
            <ul>
              <li>Creation of announcement slides that quickly get the most pertinent information accross</li>
              <li>Social-media friendly graphics for Facebook and Instagram </li>
              <li>Print Media & Signage for events</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-2" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <p class="resume-role">March 2016 - April 2017 | <strong>Director of Operations and Product Designer </strong>| <span class="resume-location">TakeMeHome</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><strong>User Interviewing - </strong>Conducting interviews with target users to discover user needs</li>
              <li><strong>Product Requirements formulation - </strong>Translating research findings in the area of wayfinding and wayfinding deficits into business objectives, and business objectives into product requirements</li>
              <li><strong>Function and Non-functional requirements formulation - </strong>Formulating functional and non-functional requirements for a mobile application that will meet the needs of the target user, and making continuous adjustments as the needs of the user change</li>
              <li><strong>Application prototyping and usability testing - </strong>Designing low and high-fidelity prototypes with a high level of usability and in accordance with well-established heuristic principles</li>
              <li><strong>Project coordination - </strong>Responsible for planning and defining business objectives and managing the completion of the corresponding action items by the rest of the team</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-2" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <p class="resume-role">June - Dec 2015 | <strong>Business Analyst</strong> | <span class="resume-location">University Health Network</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><strong>Business Process Mapping - </strong>Conducted current state process mapping and analysis using the Business Process Model and Notation (BPMN) for (1) the Internal asset management LEAN project and (2) the Toronto Central Community Care Access Centre (TCCCAC) Call Centre process, and using those process maps to identify areas of improvement</li>
              <li><strong>Stakeholder engagement - </strong>Participated in collaborative meetings amongst project stakeholders to brainstorm ways to improve the areas of concern and to determine the feasibility of those methods. Engaged with members of the internal systems engineering team and TCCCAC management to identify stakeholder needs and priorities and facilitate communications between both parties</li>
              <li><strong>Project Plan documentation - </strong>Develop project documentation and updated the project plan to communicate and keep record of project progress</li>
              <li><strong>Team Professional Development - </strong>Delivered presentations with the team on health informatics-related topics in order to support and grow a knowledge-sharing culture</li>
              <li><strong>Video training module development - </strong>Conceptualized, created and edited a video tutorial posted on the department-wide SharePoint site to teach SIMS staff how to use Yammer, an entreprise social network used by UHN staff to organize meetings and share information</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-2" id="headingEleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              <p class="resume-role">2009 - 2014 | <strong>Clerk, Outpatient Psychiatry</strong> | <span class="resume-location">The Ottawa Hospital</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li><strong>Facilitating excellent patient care - </strong>Guided patients safely and effectively through the appointment process, from registration to follow-up</li>
              <li><strong>Liaising with External parties - </strong>Addressed the needs of representatives from a myriad of external organizations concerning the patients of the program</li>
              <li><strong>Data Submissions to Government of Ontario  - </strong>Restructured and implemented procedures to improve the data collection and submission process to the Ministry of Health and Longterm Care</li>
              <li><strong>System Design, Development and Implementation - </strong>Designed and created an information system to aggregate and manage program data at no additional cost </li>
              <li><strong>Patient Information Privacy Protection  - </strong>Took all necessary precautions to keep patient health information private and secure</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row resume-row">
  <div class="col-lg-3 resume-header">
    <h3>Volunteering</h3>
  </div>
  <div class="col-lg-9">
    <div class="accordion" id="accordionVolunteering">
      <div class="card">
        <div class="card-header card-header-3" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <p class="resume-role">2017 - Present | <strong>Youth Leader</strong> | <span class="resume-location">Fusion Youth</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Facilitating discussions among girls ages 13 to 18 around various philosophical and moral topics</li>
              <li>Planning activities for girls to foster teamwork and a sense of community</li>
              <li>Planning for and directing the Fusion Music Crew band, composed of boys and girls interested in developing their music skills</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-3" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <p class="resume-role">2015 | <strong>DementiaHack 2015</strong> | <span class="resume-location">Winner and co-creator of TakeMeHome</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Co-created an information technology to help people with Dementia better navigate their communities</li>
              <li>Co-facilitated several meetings with individuals with dementia, caregivers and other stakeholders, to gather information about their day-to-day lives and identify areas where software applications could create improvements</li>
              <li>Analyzed the information gathered in stakeholder meetings to set the scope and goals of the application, as well as to determine its functional and non-functional requirements </li>
              <li>Applied human factors design methodologies to create wireframes of an application which met the requirements and would achieve the overall goal</li>
              <li>Was chosen as winning application of the ‘Diagnosed Individuals’ category and the Facebook prize</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-header-3" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed accordian-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <p class="resume-role">2015 | <strong>Canada2020 Conference Presenter</strong> | <span class="resume-location">on behalf of Facebook Canada</span></p>
              <p class="resume-summary"></p>
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div class="card-body">
            <p class="resume-courses">Presented on how policy makers and tech developers can work together to support the implementation of health policy</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="resume-download">
  <div id="resume-button">
    <button type="button" class= "btn btn-outline-secondary modal-button" data-toggle="modal" data-target=".bd-example-modal-lg">Download Resume</button>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                  <h5 class"modal-title" id="exampleModalLabel">My Resume</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <p>Please see below for my most up to date resume. Feel free to reach out to me if you have any further questions. You can find my contact information <a href="/simple_pages/contact" target="_blank">here</a>.</p> -->
                    <embed id="modal-sdresume" src="<%= asset_path('2019Resume.pdf') %>">
                </div>
        </div>
    </div>
</div>




</div>
