<h1 class="post-admin-header">Edit</h1>

<%= render 'form', post_admin: @post_admin %>

<div class="container bottom-navigation">
  <%= link_to 'Show', @post_admin %> |
  <%= link_to 'Back', post_admins_path %>
</div>
