/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
  margin:0px;
  background-color: #8efcdf;
}


.navbar-transparent {
  background-color: #212a62;
}

.navbar-transparent a {
  font-family: 'Electrolize', sans-serif;
  color: white;
  font-size: 1.5em;
}

.navbar-custom-logo:visited {
  color: #03ceef;

}

.navbar-right-menu li {
  padding-bottom: 20px;
}


.alert-primary {
  margin-bottom: 0;
  opacity: 0.75;
  background-color: #8effef;
}

#notice {
  color: #212a62;
  text-align: center;
  font-family: 'Electrolize', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5em;
}

#alert {
  color: #212a62;
  text-align: center;
  font-family: 'Electrolize', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.home-page-footer {
  background-color: #3e1929;
  padding-top: 15vh;
  padding-bottom: 10vh;

}

.home-page-footer ul {
  list-style: none;
}

.home-page-footer li {
  padding-bottom: 18px;
  color: #03ceef;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
}

.home-page-footer a:hover {
  background-color: transparent;
}

.footer-column {
  color: white;
}

.footer-column-contact a {
  padding-left: 15px;
}

#modal-button-footer {
  padding: 0;
  border: 0;
  color: #03ceef;
  font-family: 'Electrolize', sans-serif;
  font-size: 15px;
}

#modal-button-footer:hover {
  color: white;
}

.footer-icon {
  max-width: 32px;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  background: black;
  color: white;
  text-align: right;
}

@media (min-width: 992px) {
  .navbar-right-menu li {
    padding-bottom: 0;
    padding-left: 25px;
  }
}
