// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-post {
  width: 100%;
}

.latest-row {
  margin-bottom: 25px;
}

.latest-preview-image {
  background-color: black;
  height: 250px;
  margin-top: 25px;
}

.latest-image {
  width: 100%;
  max-height: 250px;
  margin: auto;
}

.all-posts   {
  text-align: center;
  margin: auto 25px auto;

}

.all-posts :hover {
  color: blue;
  text-decoration-style: solid;
  text-decoration: underline;
}
